@page "/account/login"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies 
@inject NavigationManager navMgr  
<div style="width:400px; margin: auto">
    <h1>Login</h1>
    <EditForm Model="LoginModel" OnValidSubmit="DoLogin" FormName="LoginForm">
        <DataAnnotationsValidator />
        <div>
            <label>User Name</label>
        <InputText @bind-Value="LoginModel.UserName" placeholder="User Name" class="form-control form-control-sm" /><br />
            <ValidationMessage For="@(()=>LoginModel.UserName)" />
        </div>
        <div>
            <label>Password</label>
            <InputText @bind-Value="LoginModel.Password" placeholder="Password" class="form-control form-control-sm" /><br />
            <ValidationMessage For="@(()=>LoginModel.Password)" />
        </div>
        <button class="btn btn-primary btn-sm" >Login</button>

    </EditForm>
</div>

