@page "/"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Authorization 
@inject NavigationManager navMgr
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <a class="btn btn-danger btn-sm" href="/account/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary btn-sm" href="/account/login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] private HttpContext? httpContext { get; set; }
    public async Task DoLogout()
    {
    }
}